@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

$ubuntu: 'Ubuntu', sans-serif;
$pacifico: 'Pacifico', cursive;
$workSans: "Work Sans", sans-serif;

$primaryColor: white;
$secondaryColor: #121112;
$ternaryColor: #f4f4f5;
$complementaryColor: #7d7c82;
$complementaryStrongColor: #393639;

$headingColor: white;
$bodyColor: white;

$body: 1rem;
$bodySmall: 0.75rem;
