@use '/src/app/styles/constants';

:root{
  height: 100%;

  font-family: constants.$inter;
  color: constants.$bodyColor;

  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }


  h1 {
    font-size: constants.$h1;
    color: constants.$h2Color;
  }

  h2 {
    font-size: constants.$h2;
    color: constants.$h2Color;
  }

  h3 {
    font-size: constants.$h3;
    color: constants.$h2Color;
  }
  
  h4 {
    font-size: constants.$h4;
    color: constants.$h2Color;            
  }

  body {
        margin: 0;
        height: inherit;
  }

  button {
    &:hover{
        cursor: pointer;
    }
  }
  
  a {
    text-decoration: none;
    color: constants.$bodyColor;
    font-weight: 600;

    &:hover{
        color: rgba(constants.$primaryColor, .75);
    }
  }
}