.main{
    .headBox{
        height: 50%;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        padding: 10% 20%;

        p{
            text-align: center;
            margin: 0 0 1rem 0;
        }
    }

    .formBox {
        display: flex;

        .formProgress{
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;

            .stepLabel{
                margin: 0 0.5rem;
            }

            .stepDesc{
                margin: 0 2rem;
            }
        }

        hr{
            width: 1px;
            margin: 1rem 0;
        }

        .activeForm{
            margin: 4rem 0;
            padding: 0 5%;
            width: 55%;
        }

    }
    @media screen and (max-width: 599px){
        .headBox{
            align-items: flex-start;
            padding: 25% 10% 0 10%;
            p{
                text-align: left;
            }
        }
        .formBox{
            display: flex;
            flex-direction: column;
            align-items: center;

            hr{
                display: none;
            }

            .formProgress{
                display: none;
            }
    
            .activeForm{
                width: 90%;
            }
        }
    }
}