@use '/src/app/styles/constants';

.footer {
    height: 45%;
    width: 100%;
    background-color: #191919;
    color: constants.$darkColor;

    padding: 0 7.5%;

    .footerUpper {
        height: 80%;
        width: 100%;
        padding: 2rem 0;
        display: flex;

        .logoSection {
            width: 15%;
            margin-right: 4rem;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;


            .logo {
                margin: 0.25rem 0;
            }

            .socials {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 1rem 0;
                
                p{
                    margin: 1rem 0;
                    font-size: constants.$bodySmall;
                    color: rgba(constants.$baseColor, 0.5);
                }
                
                a {
                    margin-right: 0.6rem;
                }
            }
        }

        .linkSection {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;

            .footerLinkGrid {
                margin: 1rem 0 0 6%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p{
                    color: rgba(constants.$baseColor, 0.75);
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                a {
                    margin: 0.5rem 0;

                    button {
                        color: rgba(constants.$baseColor, 0.75);
                        font-weight: normal;
                    }
                }
            }
        }
    }

    hr{
        width: 100%;
        height: 1px;
        color: rgba(constants.$baseColor, 0.2);
        border-color: rgba(constants.$baseColor, 0.1);
    }

    .footerLower {
        display: flex;
        align-items: center;

        p{
            margin: 1rem 0;
            font-size: constants.$bodySmall;
            color: rgba(constants.$baseColor, 0.5);
    
            a {
                color: rgba(constants.$baseColor, 0.5);
            }
        }
        
    }
}
