@use '/src/app/styles/constants';

.appBar {
    background-color: constants.$baseColor;
    border-bottom: 1px solid #D0D5DD;

    .toolBar{
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        
        .logo {
            margin: 0.5rem 0;
            height: 100%;
            width: 100%;
        }
    
        .pageBtns {            
            a {
                margin: 0 1rem;
    
                button{
                    padding: 0 0.5rem;
                }
            }
        }
    }
}
