@use "/src/app/styles/constants";
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 96px;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: 0px;

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    width: 100%;

    .heroHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 54px;
      width: 100%;

      .heroHeaderTitle {
        position: relative;
        display: flex;
        width: 100%;
        margin-bottom: 4rem;

        h2 {
          position: absolute;
          margin-left: 33%;
          color: constants.$primaryColor;
        }

        .changingWords {
          font-size: constants.$h2;
          font-weight: 600;
          color: constants.$secondaryColor;
          margin-left: 48%;
        }

        .heroHeaderTitleScribble {
          z-index: 1;
          position: absolute;
          left: 48%;
          top: 4rem;
        }

        // div {
        //   display: flex;
        //   position: relative;

        //   h2 {
        //     color: constants.$primaryColor;
        //     position: absolute;
        //     bottom: -15px;
        //     left: 200px;
        //   }
        //   div {
        //     margin-left: 1rem;
        //     font-size: constants.$h2;
        //     font-weight: 600;
        //     color: constants.$secondaryColor;
        //   }
        //   .heroHeaderTitleScribble {
        //     z-index: 1;
        //     position: absolute;
        //     left: 50%;
        //     bottom: -15px;
        //   }
        // }
      }

      p {
        text-align: center;
        max-width: 768px;
        font-size: 1.25rem;
        color: constants.$h2Color;
        line-height: 1.875rem;

        span {
          color: constants.$secondaryColor;
          font-weight: 600;
        }
      }
    }
    .btns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 3rem;
      gap: 4rem;
      width: 100%;

      .heroFirst {
        width: 228px;
        height: 108px;
        border: 1px solid constants.$ternaryColor;
        border-radius: 1rem;
        background-color: #f9fafb;
        position: relative;

        .heroIconDiv {
          position: absolute;
          top: -25px;
          left: 40%;

          .heroIconMainDiv {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .heroIconMain {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
            }
            .heroIconLeft {
              position: absolute;
              left: -30px;
              top: 5px;
            }
            .heroIconRight {
              position: absolute;
              left: 35px;
              top: 5px;
            }
          }
        }

        button {
          padding: 12px 18px;
          border-radius: 8px;
          font-size: constants.$body;
          transition: all 0.5s ease;
          &:hover {
            scale: 1.05;
          }
        }

        .btnsBtn1 {
          background-color: constants.$primaryColor;
          position: absolute;
          bottom: 0;
          left: -12px;
          color: constants.$baseColor;
          width: 252px;
        }
        .btnsBtn2 {
          position: absolute;
          bottom: -1px;
          right: -28px;
          color: #344054;
          width: 283px;
          font-weight: 600;
          border: 1px solid constants.$ternaryColor;
        }
      }
    }

    .heroFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 188px;
      width: 100%;

      .heroFooterDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        position: relative;

        .heroFooterImgAbove1 {
          z-index: 1;
          position: absolute;
          left: 5%;
          top: -85px;
        }
        .heroFooterImgAbove2 {
          z-index: 1;
          position: absolute;
          left: 50%;
          top: -100px;
        }
        .heroFooterImgAbove3 {
          z-index: 1;
          position: absolute;
          left: 55%;
          top: 15px;
        }
        .heroFooterImgAbove4 {
          z-index: 1;
          position: absolute;
          right: 45px;
          top: -150px;
        }
      }
    }
  }

  .whatWeOffer {
    margin-top: 6rem;
    padding: 0 5rem;
    width: 100%;

    .marketPlaceHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;

      div {
        width: 768px;
        h4 {
          color: constants.$primaryColor;
          text-align: center;

          span {
            color: constants.$secondaryColor;
          }
        }
        p {
          margin-top: 20px;
          line-height: 1.875rem;
          font-size: constants.$bodyXLarge;
          color: constants.$h2Color;
          text-align: center;
        }
      }
    }
    .marketPlaceItems {
      display: flex;
      flex-direction: column;
      gap: 64px;
      width: 100%;
      margin-top: 96px;

      .marketPlaceItemsDiv {
        width: 100%;
        display: flex;
        align-items: center;

        .marketPlaceItemsDivGrid {
          width: 50%;
          padding: 0 44px 56px 56px;

          .gridItem {
            display: flex;
            flex-direction: column;
            width: 100%;

            h5 {
              margin-top: 20px;
              color: constants.$bodyColor;
            }

            .gridItemInfo {
              margin-top: 2rem;
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 100%;
              padding-left: 1rem;

              .gridItemInfoBox {
                display: flex;
                gap: 12px;

                p {
                  line-height: 1.75rem;
                  font-size: constants.$bodyLarge;
                  color: constants.$h2Color;
                }
              }
            }
          }
        }
        .marketPlaceItemsImage {
          padding: 0 48px;
          margin: 0;
          width: 50%;
          height: auto;
          margin-bottom: 0;
        }
      }
    }
  }

  .CTA {
    margin-top: 100px;
    .whyJoinBtns {
      width: 100%;
      margin-top: 90px;
      width: 100%;
      padding: 0 112px;

      .whyJoinBtnSection {
        padding: 64px;
        background-color: #f9fafb;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        // flex-direction: column;

        h5 {
          width: 100%;
          margin-bottom: 0;
          color: constants.$primaryColor;
        }
        p {
          width: 100%;
          margin-top: 16px;
          font-size: constants.$bodyXLarge;
          color: constants.$h2Color;
        }
      }
      .whyJoinBtnContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        // margin-top: 32px;

        .whyJoinBtnLink1 {
          color: constants.$primaryColor;
          background-color: constants.$baseColor;
          padding: 12px 18px;
          border-radius: 8px;
          border: 1px solid constants.$ternaryColor;
          font-size: constants.$body;
          transition: all 0.5s ease;
          &:hover {
            scale: 1.05;
          }
        }
        .whyJoinBtnLink2 {
          background-color: constants.$primaryColor;
          color: constants.$baseColor;
          padding: 12px 18px;
          border-radius: 8px;
          font-size: constants.$body;
          transition: all 0.5s ease;
          &:hover {
            scale: 1.05;
          }
        }
      }
    }
  }

  .community {
    margin-top: 380px;
    margin-bottom: 327px;

    .whyJoinBtns {
      width: 100%;
      position: relative;

      .whyJoinBtnSection {
        padding: 0 96px 96px 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          width: 100%;
          text-align: center;
          margin-bottom: 0;
          color: constants.$primaryColor;
        }
        p {
          width: 100%;
          font-size: constants.$bodyXLarge;
          color: constants.$h2Color;
          text-align: center;
          margin-top: 20px;
          width: 768px;
          line-height: 1.75rem;
        }

        .whyJoinBtnContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 12px;
          margin-top: 48px;

          .whyJoinBtnLink1 {
            color: constants.$primaryColor;
            background-color: constants.$baseColor;
            padding: 12px 18px;
            border-radius: 8px;
            border: 1px solid constants.$ternaryColor;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }
          .whyJoinBtnLink2 {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: constants.$primaryColor;
            padding: 12px 18px;
            border-radius: 8px;
            color: constants.$baseColor;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }
        }
      }

      .communityImage1 {
        z-index: 1;
        position: absolute;
        left: 164px;
        top: -180px;
      }
      .communityImage2 {
        z-index: 1;
        position: absolute;
        right: 358px;
        top: -246px;
      }
      .communityMessage2 {
        z-index: 1;
        position: absolute;
        right: 147px;
        top: -92px;
      }
      .communityImage3 {
        z-index: 1;
        position: absolute;
        left: -20px;
        top: 117px;
      }
      .communityImage4 {
        z-index: 1;
        position: absolute;
        left: 176px;
        // bottom: -235px;
        bottom: -139px;
      }
      .communityImage5 {
        z-index: 1;
        position: absolute;
        right: 191px;
        bottom: -78px;
      }
      .communityImage6 {
        z-index: 1;
        position: absolute;
        bottom: -219px;
        right: 246px;
      }
    }
  }

  .blogs {
    margin-top: 96px;
    padding: 0 80px;

    .blogsHeader {
      padding: 0 32px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;

      .blogsHeaderDiv {
        display: flex;
        flex-direction: column;

        .blogsAnnouncement {
          font-size: constants.$body;
          font-weight: 600;
          color: constants.$primaryColor;
          margin-bottom: 16px;
        }

        h3 {
          color: constants.$primaryColor;
        }
        .blogsDesc {
          color: constants.$h2Color;
          margin-top: 20px;
        }
      }
      .toBlogsBtn {
        color: constants.$baseColor;
        background-color: constants.$primaryColor;
        height: 48px;
        padding: 12px 18px;
        border-radius: 8px;
        font-size: constants.$body;
        transition: all 0.5s ease;
        &:hover {
          scale: 1.05;
        }
      }
    }

    .blogsGrid {
      padding: 0 32px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      margin-bottom: 96px;

      .blogItem {
        display: flex;
        flex-direction: column;
        width: 100%;

        .blogItemImage {
          width: 100%;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            scale: 1.01;
          }
        }
        .blogItemTag {
          color: constants.$h2Color;
          margin-top: 20px;
          font-weight: 600;
        }
        .blogItemTitleDiv {
          margin-top: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h6 {
            color: constants.$primaryColor;
          }
          .blogItemArrow {
            opacity: 0.7;
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
              scale: 1.05;
            }
          }
        }

        .blogItemDesc {
          color: constants.$h2Color;
          margin-top: 20px;
        }
      }
    }
  }

  .goToApps {
    background-color: #f9fafb;

    .goToAppsDiv {
      padding: 48px 80px 0 80px;
      display: flex;

      .goToAppsLeft {
        width: 576px;
        margin-right: 195px;

        h3 {
          color: constants.$primaryColor;
          margin-top: 80px;
        }
        .goToAppsDesc {
          margin-top: 24px;
          color: constants.$h2Color;
          font-size: constants.$bodyXLarge;
        }
        .goToAppsBtns {
          display: flex;
          gap: 16px;
          margin-top: 48px;

          .goToAppStore {
            background-color: constants.$primaryColor;
            padding: 5px 8px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            transition: all 0.5s ease;

            &:hover {
              scale: 1.05;
            }

            div {
              display: flex;
              flex-direction: column;

              .download {
                font-size: 10px;
                opacity: 0.9;
                color: constants.$baseColor;
              }
              .goToAppStoreTitle {
                color: constants.$baseColor;
              }
            }
          }
        }
      }

      .goToAppsRight {
        width: 400px;
        height: 500px;
      }
    }
  }
}

@media (max-width: 460px) {
  .main {
    .hero {
      width: 100%;
      margin-top: 2rem;
      padding: 0 1rem;

      .heroHeader {
        width: 100%;

        .heroHeaderTitle {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          h2 {
            margin-left: 0;
            font-size: constants.$h4;
          }
          .changingWords {
            margin-left: 38%;
            font-size: constants.$h4;
          }
          .heroHeaderTitleScribble {
            display: none;
          }
        }
        p {
          width: 100%;
          font-size: constants.$bodyLarge;
        }
      }
      .btns {
        width: 100%;
        margin-top: 1rem;
        padding: 0 1rem;
        flex-direction: column;
        align-items: center;
      }

      .heroFooter {
        margin-top: 0;

        .heroFooterDiv {
          width: 100%;
          display: flex;
          flex-direction: column;

          margin-top: 0;
          gap: 0;

          hr {
            width: 100%;
            background-color: constants.$ternaryColor;
            opacity: 0.3;

            padding: 0 80px;
          }
        }
      }
    }

    .whatWeOffer {
      padding: 0 1rem;

      .marketPlaceHeader {
        div {
          width: 100%;

          h4 {
            font-size: constants.$h5;
          }

          p {
            font-size: constants.$bodyLarge;
          }
        }
      }

      .marketPlaceItems {
        width: 100%;
        margin-top: 3rem;

        .marketPlaceItemsDiv {
          width: 100%;
          display: flex;
          flex-direction: column;

          .marketPlaceItemsDivGrid {
            width: 100%;
            padding: 0;
          }

          .marketPlaceItemsImage {
            width: 342px;
            height: 228px;
          }
        }
      }
    }
  }
}
