@use "/src/app/styles/constants";

.main {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  overflow-x: hidden;

  .hero {
    margin: 96px 0 0 80px;
    display: flex;

    .heroLeft {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      padding-right: 64px;
      padding-top: 77px;
      width: 50%;

      h2 {
        color: constants.$primaryColor;
        font-weight: 600;
      }
      p {
        margin-top: 24px;
        color: constants.$h2Color;
        max-width: 440px;
        font-size: constants.$bodyLarge;
        line-height: 1.875rem;
      }
      .btns {
        display: flex;
        margin-top: 48px;
        gap: 4rem;

        .heroFirst {
          width: 228px;
          height: 108px;
          border: 1px solid constants.$ternaryColor;
          border-radius: 1rem;
          background-color: #f9fafb;
          position: relative;

          .heroIconDiv {
            position: absolute;
            top: -25px;
            left: 40%;

            .heroIconMainDiv {
              // display: flex;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              .heroIconMain {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }
              .heroIconLeft {
                position: absolute;
                left: -30px;
                top: 5px;
              }
              .heroIconRight {
                position: absolute;
                left: 35px;
                top: 5px;
              }
            }
          }

          button {
            padding: 12px 18px;
            border-radius: 8px;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }

          .btnsBtn1 {
            background-color: constants.$primaryColor;
            position: absolute;
            bottom: 0;
            left: -12px;
            color: constants.$baseColor;
            width: 252px;
          }
          .btnsBtn2 {
            position: absolute;
            bottom: -1px;
            right: -28px;
            color: #344054;
            width: 283px;
            font-weight: 600;
            border: 1px solid constants.$ternaryColor;
          }
        }
      }
    }
    .heroRight {
      width: 50%;

      .heroRightImg {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .community {
    margin-top: 96px;
    width: 100%;
    padding: 96px 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    .communityHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      h4 {
        color: constants.$primaryColor;
      }
      p {
        margin-top: 20px;
        font-size: constants.$bodyXLarge;
        color: constants.$h2Color;
      }
    }
    .communityImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: 64px;
    }
    .communityGrid {
      width: 100%;
      margin-top: 96px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 64px;

      .gridItem {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        h6 {
          color: constants.$primaryColor;
          margin-top: 20px;
          font-weight: 600;
          font-size: constants.$bodyXLarge;
        }
        p {
          margin-top: 8px;
          color: constants.$h2Color;
          line-height: 1.875rem;
        }
      }
    }
  }

  .whyJoin {
    padding-left: 80px;
    margin: 96px 0 0 0;
    width: 100%;

    h4 {
      color: constants.$primaryColor;
      margin: 0 0 4rem 2rem;
    }

    .whyJoinDiv {
      display: flex;
      width: 100%;

      .whyJoinGrid {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 48px;
        padding: 0 32px;
        z-index: 1;

        .gridItem {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;

          h6 {
            color: constants.$primaryColor;
            margin-top: 20px;
            font-weight: 600;
            font-size: constants.$bodyXLarge;
          }
          p {
            margin-top: 8px;
            color: constants.$h2Color;
            line-height: 1.875rem;
          }
        }
      }
      .whyJoinImgDiv {
        width: 50%;
        background-color: #f2f4f7;
        padding: 56px 0 56px 40px;
        overflow: hidden;
        border-radius: 1.5rem;

        .communityImage {
          width: 100%;
          height: 100%;
        }
      }
    }

    .whyJoinBtns {
      width: 100%;
      margin-top: 90px;
      margin-right: 96px;
      padding-right: 80px;

      .whyJoinBtnSection {
        padding: 4rem 6rem;
        background-color: #f9fafb;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          width: 100%;
          text-align: center;
          margin-bottom: 0;
        }
        p {
          width: 100%;
          text-align: center;
          margin-top: 20px;
          color: constants.$h2Color;
        }

        .whyJoinBtnContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 12px;
          margin-top: 32px;

          .whyJoinBtnLink1 {
            color: constants.$primaryColor;
            background-color: constants.$baseColor;
            padding: 12px 18px;
            border-radius: 8px;
            border: 1px solid constants.$ternaryColor;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }
          .whyJoinBtnLink2 {
            background-color: constants.$primaryColor;
            color: constants.$baseColor;
            padding: 12px 18px;
            border-radius: 8px;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }
        }
      }
    }
  }

  .marketPlace {
    margin-top: 96px;
    padding: 96px 80px 0 80px;
    width: 100%;

    .marketPlaceHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;

      div {
        max-width: 768px;
        h4 {
          color: constants.$primaryColor;
          text-align: center;
        }
        p {
          margin-top: 20px;
          font-size: constants.$bodyXLarge;
          color: constants.$h2Color;
          text-align: center;
        }
      }
    }

    .marketPlaceItems {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 6rem;
      gap: 4rem;

      .marketPlaceItemsDiv {
        width: 100%;
        display: flex;
        align-items: center;

        .marketPlaceItemsDivGrid {
          width: 50%;
          padding: 0 44px;

          .gridItem {
            display: flex;
            flex-direction: column;
            width: 100%;

            h5 {
              margin-top: 20px;
              color: constants.$bodyColor;
            }

            .gridItemInfo {
              margin-top: 2rem;
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 100%;
              padding-left: 1rem;

              .gridItemInfoBox {
                display: flex;
                gap: 12px;

                p {
                  line-height: 1.75rem;
                  font-size: constants.$bodyLarge;
                  color: constants.$h2Color;
                }
              }
            }
          }
        }
        .marketPlaceItemsImage {
          padding: 0 3rem;
          margin: 0;
          width: 50%;
          height: auto;
        }
      }
    }
  }

  .whyShop {
    margin-top: 96px;
    padding: 0 80px;
    width: 100%;

    .whyShopHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;

      h4 {
        color: constants.$bodyColor;
      }
      p {
        margin-top: 20px;
        text-align: center;
        font-size: constants.$bodyXLarge;
        color: constants.$h2Color;
        max-width: 768px;
      }
    }

    .whyShopItems {
      display: flex;
      padding: 0 32px;
      width: 100%;

      .whyShopItemsGrid {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .gridItem {
          width: 100%;
          padding: 0;

          h6 {
            margin-top: 1rem;
            font-size: constants.$bodyLarge;
            color: constants.$bodyColor;
          }

          p {
            line-height: 1.5rem;
            margin-top: 4px;
            color: constants.$h2Color;
          }
        }
      }

      .whyShopItemsGridImages {
        position: relative;
        width: 40%;
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;

        .whyShopItemsGridImagesImage {
          width: auto;
          height: auto;
          z-index: 1;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: -70px;
          left: 50%;
        }
      }
    }
  }

  .products {
    margin-top: 160px;
    margin-bottom: 96px;
    padding: 0 80px;
    width: 100%;

    h4 {
      color: constants.$bodyColor;
      padding-left: 32px;
      margin-bottom: 64px;
    }
    .productsItems {
      display: flex;
      width: 100%;

      .productsItemsLeft {
        width: 50%;
        padding: 21px 4rem 21px 32px;

        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
          h6 {
            color: constants.$bodyColor;
            margin-bottom: 8px;
          }
          p {
            margin-bottom: 20px;
            color: constants.$h2Color;
          }
          .productsItemsLeftLink {
            width: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-bottom: 32px;
            transition: all 0.5s ease;

            &:hover {
              scale: 1.01;
              // color: constants.$secondaryColor;
            }
          }
        }
      }
      .productsItemsRight {
        width: 50%;
        padding: 3rem;
        // padding: 51px 48px;
        background-color: #f2f4f7;
        display: flex;
        justify-content: center;
        align-items: center;

        .productsItemsRightImage {
          width: auto;
          height: auto;
          object-fit: contain;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    width: 100%;
    padding: 0;
    margin-top: 4rem;

    .hero {
      width: 100%;
      margin: 0;
      margin-top: 4rem;
      padding: 0 1rem;
      flex-direction: column;

      .heroLeft {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;

        h2 {
          text-align: center;
        }

        p {
          max-width: 85%;
          text-align: center;
        }
      }
      .heroRight {
        width: 100%;
        margin-top: 4rem;

        .heroRightImg {
          display: none;
        }
      }
    }
    .community {
      width: 100%;
      padding: 0 2rem;
      padding-top: 6rem;
      margin: 6rem 0;

      .communityGrid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
    }
    .whyJoin {
      width: 100%;
      padding: 0 2rem;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .whyJoinDiv {
        flex-direction: column-reverse;
        padding: 0 3rem;

        .whyJoinGrid {
          width: 100%;
          padding: 0;
          margin-top: 4rem;
        }
        .whyJoinImgDiv {
          width: 100%;
          padding: 3.5rem 2.5rem;
          margin-top: 4rem;
        }
      }
      .whyJoinBtns {
        width: 100%;
        margin: 0;
        margin-top: 4rem;
        padding: 0;
        .whyJoinBtnSection {
          padding: 4rem;
        }
      }
    }
    .marketPlace {
      width: 100%;
      padding: 0 2rem;
      padding-top: 6rem;
      .marketPlaceItems {
        width: 100%;
        margin: 0;
        margin-top: 6rem;
        .marketPlaceItemsDiv {
          .marketPlaceItemsDivGrid {
            padding: 0 2rem 0 0;
          }
          .marketPlaceItemsImage {
            padding: 0 2rem 0 0;
          }
        }
      }
    }
    .whyShop {
      padding: 0 2rem;

      .whyShopItems {
        flex-direction: column-reverse;
        padding: 0;
        .whyShopItemsContainer {
          display: flex;
          padding: 0 2rem;
          gap: 4rem;
          width: 100%;
          margin-top: 4rem;
          .whyShopItemsGrid {
            width: 100%;
          }
        }
        .whyShopItemsGridImages {
          width: 100%;
          img:first-child {
            width: auto;
            height: auto; /* Maintain aspect ratio */
          }

          .whyShopItemsGridImagesImage {
            left: 70%;
          }
        }
      }
    }
    .products {
      width: 100%;
      padding: 0 2rem;
      .productsItems {
        .productsItemsLeft {
          padding: 1rem;
        }
        .productsItemsRight {
          padding: 2rem;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .main {
    width: 100%;
    padding: 0;
    margin-top: 4rem;

    .hero {
      width: 100%;
      margin: 0;
      margin-top: 4rem;
      padding: 0 1rem;
      flex-direction: column;

      .heroLeft {
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;

        h2 {
          text-align: center;
        }

        p {
          max-width: 85%;
          text-align: center;
        }
      }
      .heroRight {
        width: 100%;
        margin-top: 4rem;

        .heroRightImg {
          display: none;
        }
      }
    }
    .community {
      width: 100%;
      padding: 0 2rem;
      padding-top: 6rem;
      margin: 6rem 0;

      .communityGrid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
    }
    .whyJoin {
      width: 100%;
      padding: 0 2rem;
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .whyJoinDiv {
        flex-direction: column-reverse;
        padding: 0 1.5rem;

        .whyJoinGrid {
          width: 100%;
          padding: 0;
          margin-top: 4rem;
        }
        .whyJoinImgDiv {
          width: 100%;
          padding: 3.5rem 2.5rem;
          margin-top: 4rem;
        }
      }
      .whyJoinBtns {
        width: 100%;
        margin: 0;
        margin-top: 4rem;
        padding: 0;
        .whyJoinBtnSection {
          padding: 2rem;
        }
      }
    }
    // .marketPlace {
    //   width: 100%;
    //   padding: 0 2rem;
    //   padding-top: 6rem;
    //   .marketPlaceItems {
    //     width: 100%;
    //     margin: 0;
    //     margin-top: 6rem;
    //     .marketPlaceItemsDiv {
    //       .marketPlaceItemsDivGrid {
    //         padding: 0 2rem 0 0;
    //       }
    //       .marketPlaceItemsImage {
    //         padding: 0 2rem 0 0;
    //       }
    //     }
    //   }
    // }
    .marketPlace {
      width: 100%;
      padding: 4rem 1rem 0 1rem;
      margin: 4rem 0;

      .marketPlaceHeader {
        width: 100%;

        div {
          width: 100%;

          h4 {
            font-size: constants.$h5;
          }
          p {
            font-size: constants.$bodyLarge;
          }
        }
      }
      .marketPlaceItems {
        width: 100%;
        margin: 3rem 0;
        gap: 3rem;

        .marketPlaceItemsDiv {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 2.5rem;

          .marketPlaceItemsDivGrid {
            width: 100%;
            padding: 0;
          }

          .marketPlaceItemsImage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
          }
        }
      }
    }

    .whyShop {
      padding: 0 2rem;

      .whyShopItems {
        flex-direction: column-reverse;
        padding: 0;
        .whyShopItemsContainer {
          display: flex;
          padding: 0 2rem;
          gap: 4rem;
          width: 100%;
          margin-top: 4rem;
          .whyShopItemsGrid {
            width: 100%;
          }
        }
        .whyShopItemsGridImages {
          width: 100%;
          img:first-child {
            width: auto;
            height: auto; /* Maintain aspect ratio */
          }

          .whyShopItemsGridImagesImage {
            left: 70%;
          }
        }
      }
    }
    .products {
      width: 100%;
      padding: 0 2rem;
      .productsItems {
        .productsItemsLeft {
          padding: 1rem;
        }
        .productsItemsRight {
          padding: 2rem;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .main {
    width: 100%;
    padding: 0;
    margin-top: 4rem;

    .hero {
      width: 100%;
      margin: 4rem 0 0 0;
      padding: 0 1rem;
      flex-direction: column;

      .heroLeft {
        width: 100%;
        padding: 0;

        h2 {
          font-size: constants.$h4;
          text-align: center;
        }
        p {
          width: 100%;
          text-align: center;
          margin-top: 1rem;
        }
        .btns {
          width: 100%;
          margin: 4rem 0;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      .heroRight {
        display: none;
      }
    }

    .community {
      width: 100%;
      padding: 4rem 1rem;
      margin-top: 0;

      .communityHeader {
        width: 100%;
        padding: 0;
        h4 {
          text-align: center;
          font-size: constants.$h5;
        }
        p {
          width: 100%;
          text-align: center;
          margin-top: 1rem;
          font-size: constants.$bodyLarge;
        }
      }
      .communityImage {
        margin-top: 3rem;
      }

      .communityGrid {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .gridItem {
          width: 100%;
          padding: 1rem 1.5rem;
          background-color: #f2f4f7;
          border-radius: 1rem;

          p {
            line-height: 1.5rem;
          }
        }
      }
    }

    .whyJoin {
      width: 100%;
      padding: 0 1rem;
      margin: 4rem 0;
      display: flex;
      flex-direction: column;

      h4 {
        width: 100%;
        margin: 0;
        font-size: constants.$h5;
      }

      .whyJoinDiv {
        margin-top: 3rem;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .whyJoinGrid {
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .gridItem {
            width: 100%;

            p {
              line-height: 1.5rem;
            }
          }
        }

        .whyJoinImgDiv {
          width: 100%;
          padding: 1rem;
          margin-top: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .whyJoinBtns {
        width: 100%;
        margin-top: 4rem;
        padding: 0;

        .whyJoinBtnSection {
          padding: 2.5rem 1.5rem;

          h4 {
            font-size: constants.$h5;
          }

          .whyJoinBtnContainer {
            width: 100%;
            flex-direction: column;

            .whyJoinBtnLink1 {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .whyJoinBtnLink2 {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .marketPlace {
      width: 100%;
      padding: 4rem 1rem 0 1rem;
      margin: 4rem 0;

      .marketPlaceHeader {
        width: 100%;

        div {
          width: 100%;

          h4 {
            font-size: constants.$h5;
          }
          p {
            font-size: constants.$bodyLarge;
          }
        }
      }
      .marketPlaceItems {
        width: 100%;
        margin: 3rem 0;
        gap: 3rem;

        .marketPlaceItemsDiv {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 2.5rem;

          .marketPlaceItemsDivGrid {
            width: 100%;
            padding: 0;
          }

          .marketPlaceItemsImage {
            width: 100%;
            padding: 0;
          }
        }
      }
    }

    .whyShop {
      width: 100%;
      margin-top: 0;
      padding: 0 1rem;

      hr {
        width: 100%;
        background-color: constants.$ternaryColor;
        opacity: 0.3;
        padding: 0 1rem;
        margin-top: 4rem;
      }

      .whyShopHeader {
        h4 {
          font-size: 2rem;
        }
        p {
          text-align: left;
          font-size: constants.$bodyLarge;
          line-height: 1.5rem;
        }
      }

      .whyShopItems {
        width: 100%;
        padding: 0;
        flex-direction: column;
        gap: 2.5rem;

        .whyShopItemsGrid {
          width: 100%;
          padding: 0;
          gap: 2.5rem;

          .gridItem {
            width: 100%;
            padding: 0;

            h6 {
              margin-top: 1rem;
              font-size: constants.$bodyLarge;
            }

            p {
              line-height: 1.5rem;
              margin-top: 4px;
            }
          }
        }
        .whyShopItemsGridImages {
          width: 100%;

          .whyShopItemsGridImagesImage {
            padding: 0;
            width: 190px;
            height: 190px;
            left: 63%;
            bottom: -40px;
          }
        }
      }
    }

    .products {
      padding: 0 1rem;
      margin: 4rem 0;
      width: 100%;

      h4 {
        font-size: constants.$h5;
        margin-bottom: 3rem;
        padding: 0;
      }
      .productsItems {
        flex-direction: column;
        width: 100%;

        .productsItemsLeft {
          width: 100%;
          padding: 0 0 0 1.5rem;

          div {
            width: 100%;
            padding: 1rem 0;
            h6 {
              font-size: constants.$bodyLarge;
            }
            p {
              font-size: 1rem;
            }
            .productsItemsLeftLink {
              margin-bottom: 0;
            }
          }
        }

        .productsItemsRight {
          width: 100%;
          padding: 1rem;
          border-radius: 1rem;
          margin-top: 3rem;
        }
      }
    }
  }
}
