@use "/src/app/styles/constants";

.main {
  display: flex;
  flex-direction: column;
  margin-top: 96px;

  .hero {
    margin: 96px 0 0 80px;
    display: flex;

    .heroLeft {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      padding-right: 64px;
      padding-top: 77px;
      width: 50%;

      h2 {
        color: constants.$primaryColor;
        font-weight: 600;
      }
      p {
        margin-top: 24px;
        color: constants.$h2Color;
        width: 440px;
        font-size: constants.$bodyLarge;
        line-height: 1.875rem;
      }
      .btns {
        display: flex;
        flex-direction: row;
        margin-top: 48px;
        gap: 64px;

        .heroFirst {
          width: 228px;
          height: 108px;
          border: 1px solid constants.$ternaryColor;
          border-radius: 1rem;
          background-color: #f9fafb;
          position: relative;

          .heroIconDiv {
            position: absolute;
            top: -25px;
            left: 40%;

            .heroIconMainDiv {
              // display: flex;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              .heroIconMain {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
              }
              .heroIconLeft {
                position: absolute;
                left: -30px;
                top: 5px;
              }
              .heroIconRight {
                position: absolute;
                left: 35px;
                top: 5px;
              }
            }
          }

          button {
            padding: 12px 18px;
            border-radius: 8px;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }

          .btnsBtn1 {
            background-color: constants.$primaryColor;
            position: absolute;
            bottom: 0;
            left: -12px;
            color: constants.$baseColor;
            width: 252px;
          }
          .btnsBtn2 {
            position: absolute;
            bottom: -1px;
            right: -28px;
            color: #344054;
            width: 283px;
            font-weight: 600;
            border: 1px solid constants.$ternaryColor;
          }
        }
      }
    }
    .heroRight {
      width: 50%;

      .heroRightImg {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .community {
    margin-top: 192px;
    // margin-left: 80px;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    .communityHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      h4 {
        color: constants.$primaryColor;
      }
      p {
        margin-top: 20px;
        font-size: constants.$bodyXLarge;
      }
    }
    .communityImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: 64px;
    }
    .communityGrid {
      width: 100%;
      // margin-top: 96px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 64px;
      // padding: 0 32px;
    }
  }

  .whyJoin {
    padding-left: 80px;
    // margin-left: 80px;
    margin: 96px 0;
    width: 100%;

    h4 {
      color: constants.$primaryColor;
      margin: 0 0 4rem 2rem;
    }

    .whyJoinDiv {
      display: flex;
      width: 100%;

      .whyJoinGrid {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 48px;
        padding: 0 32px;
      }
      .whyJoinImgDiv {
        width: 50%;
        background-color: #f2f4f7;
        padding: 56px 0 56px 40px;
        overflow: hidden;
        border-radius: 1.5rem;

        .communityImage {
          width: 100%;
          height: 100%;
        }
      }
    }

    .whyJoinBtns {
      width: 100%;
      margin-top: 90px;
      width: 100%;
      margin-right: 96px;
      padding-right: 80px;

      .whyJoinBtnSection {
        padding: 64px 96px;
        background-color: #f9fafb;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h4 {
          width: 100%;
          text-align: center;
          margin-bottom: 0;
        }
        p {
          width: 100%;
          text-align: center;
          margin-top: 20px;
        }

        .whyJoinBtnContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 12px;
          margin-top: 32px;

          .whyJoinBtnLink1 {
            color: constants.$primaryColor;
            background-color: constants.$baseColor;
            padding: 12px 18px;
            border-radius: 8px;
            border: 1px solid constants.$ternaryColor;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }
          .whyJoinBtnLink2 {
            background-color: constants.$primaryColor;
            color: constants.$baseColor;
            padding: 12px 18px;
            border-radius: 8px;
            font-size: constants.$body;
            transition: all 0.5s ease;
            &:hover {
              scale: 1.05;
            }
          }
        }
      }
    }
  }

  //   hr {
  //     width: 100%;
  //     height: 0.5px;
  //     background-color: rgba(constants.$ternaryColor, 0.5);
  //     padding: 0 80px;
  //   }

  .marketPlace {
    margin-top: 96px;
    padding: 0 80px;
    width: 100%;

    .marketPlaceHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;

      div {
        width: 768px;
        h4 {
          color: constants.$primaryColor;
          text-align: center;
        }
        p {
          margin-top: 20px;
          font-size: constants.$bodyXLarge;
          color: constants.$h2Color;
          text-align: center;
        }
      }
    }

    .marketPlaceItems {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 96px;

      .marketPlaceItemsDiv {
        width: 100%;
        display: flex;
        align-items: center;

        .marketPlaceItemsDivGrid {
          width: 50%;
          padding: 0 0 80px 96px;
        }
        .marketPlaceItemsImage {
          padding: 60px;
          width: 50%;
          height: auto;
          margin-bottom: 0;
        }
      }
    }
  }

  .whyShop {
    margin-top: 96px;
    padding: 0 80px;
    width: 100%;

    .whyShopHeader {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 64px;

      h4 {
        color: constants.$bodyColor;
      }
      p {
        margin-top: 20px;
        text-align: center;
        font-size: constants.$bodyXLarge;
        color: constants.$h2Color;
        width: 768px;
      }
    }

    .whyShopItems {
      display: flex;
      padding: 0 32px;
      width: 100%;

      .whyShopItemsGrid {
        width: 30%;
        display: flex;
        flex-direction: column;
      }

      .whyShopItemsGridImages {
        position: relative;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;

        .whyShopItemsGridImagesImage {
          z-index: 1;
          width: auto;
          height: auto;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: -70px;
          left: 50%;
        }
      }
    }
  }

  .products {
    margin-top: 160px;
    margin-bottom: 96px;
    padding: 0 80px;
    width: 100%;

    h4 {
      color: constants.$bodyColor;
      padding-left: 32px;
      margin-bottom: 64px;
    }
    .productsItems {
      display: flex;
      width: 100%;

      .productsItemsLeft {
        width: 50%;
        padding: 21px 0 21px 32px;

        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
          h6 {
            color: constants.$bodyColor;
            margin-bottom: 8px;
          }
          p {
            margin-bottom: 20px;
          }
          .productsItemsLeftLink {
            width: max-content;

            margin-bottom: 32px;
            transition: all 0.5s ease;

            &:hover {
              scale: 1.01;
              // color: constants.$secondaryColor;
            }
          }
        }
      }
      .productsItemsRight {
        width: 50%;
        // padding: 51px 48px;
        background-color: #f2f4f7;
        display: flex;
        justify-content: center;
        align-items: center;

        .productsItemsRightImage {
          width: auto;
          height: auto;
          object-fit: contain;
          border-radius: 10px;
        }
      }
    }
  }

  .gridItem {
    display: flex;
    flex-direction: column;
    width: 100%;

    h5 {
      margin-top: 20px;
      color: constants.$bodyColor;
    }

    .gridItemInfo {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      padding-left: 1rem;

      .gridItemInfoBox {
        display: flex;
        gap: 12px;

        p {
          line-height: 1.75rem;
          font-size: constants.$bodyLarge;
          color: constants.$h2Color;
        }
      }
    }
  }
}
