@use "/src/app/styles/constants";

.gridItem {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  h6 {
    color: constants.$primaryColor;
    margin-top: 20px;
    font-weight: 600;
    font-size: constants.$bodyXLarge;
  }
  p {
    margin-top: 8px;
    color: constants.$h2Color;
    line-height: 1.875rem;
  }
}

@media (max-width: 376px) {
  .gridItem{
    width: 343px; 

    h6 {
      font-size: 18px;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}